* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* all column and block borders */

.debug .row [class^="col"] {
    border: 3px dashed black;
}

.debug [class$="block"] {
    border: 3px dashed black;
}

/* header */

.debug .header-nav {
    min-height: 80px;
    background-color: aquamarine;
}

/* container */

.container1 {
    max-width: 800px;
}

.container2 {
    max-width: 600px;
}

/* row */

.row {
    display: flex;
}

.debug .row {
    padding: 20px 0;
}

.debug .row-cols-5 {
    padding-top: 5px;
}

.subscribe .row {
    margin-top: 20px;
    background-color: aquamarine;
    width: 100%;
}

/* col */

.row-cols-3 [class^="col"],
.row-cols-2 [class^="col"] {
    flex-basis: calc(100%/5);
}

.debug .row-cols-3 [class^="col"] {
    min-height: 40px;
    background-color: orange; 
    text-align: center;
    line-height: 40px;
}

.row-cols-3 .col2 {
    flex-basis: calc(100%*3/5)
}

.debug .row-cols-2 [class^="col"] {
    min-height: 350px;
}

.row-cols-2 .col1 {
    flex-basis: calc(100%*3/5);
    background-color: lightseagreen;
}

.row-cols-2 .col2 {
    flex-basis: calc(100%*2/5);
    background-color: lightsalmon;
}

.row-cols-5 [class^="col"] {
    flex-basis: calc(100%/6);
}

.debug .row-cols-5 [class="col-a"] {
    min-height: 300px;
    background-color: hotpink;
    flex-basis: calc(100%*2/6)
}

.debug .row-cols-5 [class="col-b"] {
    min-height: 300px;
    border: 3px dashed white;
    background-color: aqua;
    flex-basis: calc(100%*1/6)
}


/* section page-desc*/

.debug .page-desc {
    background-color: blue;
    padding: 20px 0;
}

.debug .page-desc-block {
    min-height: 300px;
    background-color:fuchsia;
    border: 3px dashed black;
}

/* section utility */

.debug .utility {
    background-color: white;
}

/* section voice */

.debug .voice {
    background-color: lightgray;
}

.voice .row {
    flex-direction: row-reverse;
}

/* section community */

.debug .community {
    background-color: white;
}

/* section technology */

.debug .technology {
    background-color: gray;
    padding: 20px 0;
}

.debug .technology-block {
    min-height: 450px;
    background-color:green;
    border: 3px dashed black;
}

/* section links*/

.debug .links,
.debug .subscribe {
    background-color: black;
}

/* nav subscribe */

.debug .subscribe {
    border-top: 3px solid white;
}

.subscribe .row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.row>button,
.row>.logo {
    background-color: lightcoral;
    margin: 0;
    border: 3px dashed black;
}

